@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String, userList:List[String])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Show scala templates") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
     <h1>@message</h1>
     <ul>
      @for(user <- userList){
       <li><p>@user</p></li>
      }
     </ul>
}
